.title-main {width:100px;margin:auto;font-size:24px;padding-top:50px; }
.title-descripition { text-align:center;margin: 40px auto;font-size:16px;}

.img-head .floating{position:absolute;top:0;left:0;z-index:10000;background:rgba(30,139,208,0.1);width:100%;height:670px;}
.img-head .floating div{color:#F0F5FC;text-align:center;text-shadow: 2px 3px 2px #333;}
.img-head .floating .colortxt {color:#ddd !important; font-size:14px;}
.img-head .floating .register{width:100px;margin:auto;margin-top:100px;}
.floating .register a { color:#F3F5F6;padding:5px 12px;border:1px solid #ddd;border-radius:3px;font-size:14px;}
.title { width:180px;margin:auto;color:#3DA3E3;border:1px solid #3DA3E3;border-radius:2px;margin-top:50px;margin-bottom:50px;
         padding:10px 15px;text-align:center;cursor:pointer;font-size:14px;}
.title-line{width:420px;margin:auto;border-bottom:3px solid #F0EFEE;height:2px;}
.solve { height:600px;}
.solve img{float:left;margin-left:150px;margin-top:50px;width:35%;}
.solve .ask-answer{margin-top: 100px;margin-left: 50%;position:relative;}
.solve .ask-answer .ask{margin-bottom: 50px;margin-left: 30px;border: 1px solid #ccc;width: 230px;padding: 10px 15px;border-radius: 7px;}
.solve .ask-answer .ask-pointer{}
.solve .ask-answer .answer{margin-bottom: 50px;margin-left: 30px;border: 1px solid #ccc;width: 270px;padding: 10px 15px;
                           border-radius: 7px;line-height:20px;background-color:#4a98e7;color:#fff;}
.solve .ask-answer .answer-pointer{}
/*客户*/
.customer { height:560px;background-color:#008DDD;position:relative;}
.customer img{width:48%;margin: auto 350px;}
.customer .customer-details{width:900px;margin:auto;height:100px;}
.customer .customer-details li{float:left;width:220px;margin-left:30px;padding:5px 15px;cursor:pointer;}
.customer .customer-details li:hover div{color:#f1f1f1;}
.customer .customer-details li.hover { border:1px solid #95CAF2;border-radius:2px;padding:4px 14px;
     /*背景渐变*/
    background: -moz-linear-gradient(top, #5FADE9 0%, #70B6EA 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5FADE9), color-stop(100%,#70B6EA));
    background: -webkit-linear-gradient(top, #5FADE9 0%,#70B6EA 100%);
    background: -o-linear-gradient(top, #5FADE9 0%,#70B6EA 100%);
    background: -ms-linear-gradient(top, #5FADE9 0%,#70B6EA 100%);
    background: linear-gradient(to bottom, #5FADE9 0%,#70B6EA 100%);}
.customer-details li div { color:#fff;margin-bottom:5px;}
.customer-bevel {position:absolute;z-index:111;background-color:#F0EFEE;bottom:0;right:0;border-bottom: 50px solid #F0EFEE;
                 border-left: 680px solid #008DDD; }
/*库存*/
.repertory { height:650px;background-color:#F0EFEE;position:relative;}
.repertory .repertory-details{float:left;margin-left:150px;}
.repertory .repertory-details li{margin-top:50px;width:220px;padding:5px 40px;cursor:pointer;}
.repertory .repertory-details li:hover div{color:#938d88;}
.repertory .repertory-details li.hover { border:1px solid #E5E4E0;border-radius:2px;padding:4px 39px;  
    /*背景渐变*/
    background: -moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#DDDDDD));
    background: -webkit-linear-gradient(top, #EEEEEE 0%,#DDDDDD 100%);
    background: -o-linear-gradient(top, #EEEEEE 0%,#DDDDDD 100%);
    background: -ms-linear-gradient(top, #EEEEEE 0%,#DDDDDD 100%);
    background: linear-gradient(to bottom, #EEEEEE 0%,#DDDDDD 100%);}
.repertory-details li div{margin-bottom:5px;}
.repertory .img-interchange {position:relative; }
.repertory .img-interchange .img-moveable-item{ cursor: pointer;padding: 5px;border: 1px solid #aaaaaa;background: #f9f9f9;
                                                 -webkit-border-radius: 5px;-moz-border-radius: 5px;width:600px;height:300px;}
.repertory img{width:600px;height:300px;}
.repertory-bevel {position:absolute;z-index:111;background-color:#F0EFEE;top:0;left:0;border-top: 50px solid #008DDD;
                 border-right: 670px solid #F0EFEE; }
.repertory-bevel-down { position:absolute;z-index:111;background-color:#F0EFEE;bottom:0;left:0;border-bottom: 50px solid #fff;
                 border-right: 670px solid #F0EFEE;}
/*代理商*/
.agent { height:510px;position:relative;background-color:#fff;}
.agent .agent-img{ float:right;width:50%;}
.agent .agent-img img{width:100%;}
.agent .agent-details{float:right;width:450px;margin-left:50px;}
.agent .agent-details li{cursor:pointer;width:220px;margin-top:30px;padding:5px 40px;}
.agent .agent-details li:hover div{color:#70b6ea;}
.agent .agent-details li.hover {border:1px solid #1B95DF;border-radius:2px;padding:4px 39px;
/*背景渐变*/
    background: -moz-linear-gradient(top, #DFE9F2 0%, #BBDAF4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#DFE9F2), color-stop(100%,#BBDAF4));
    background: -webkit-linear-gradient(top, #DFE9F2 0%,#BBDAF4 100%);
    background: -o-linear-gradient(top, #DFE9F2 0%,#BBDAF4 100%);
    background: -ms-linear-gradient(top, #DFE9F2 0%,#BBDAF4 100%);
    background: linear-gradient(to bottom, #DFE9F2 0%,#BBDAF4 100%);}
.agent-details li div{margin-bottom:5px;color:#1B95DF;}
.agent-bevel {position:absolute;z-index:111;background-color:#F0EFEE;top:0;right:0;border-bottom: 50px solid #fff;
                 border-right: 680px solid #F0EFEE; }
.look { width:120px;margin:auto;font-size:18px;border:1px solid #0094ff;text-align:center;color:#0094ff;border-radius:3px;
        padding:10px 30px;cursor:pointer;margin-top:100px;}
.instructions { height:500px;margin-top:100px;margin-left:150px;background:url(/modules/images/home/index-3.png)no-repeat;}
.instructions .instructions-txt {width:300px; margin-left: 100px; padding-top: 80px;float:left; }
.instructions img{width: 25%;margin-left: 200px;margin-top: 80px;}
.instructions-txt div:first-child{margin-bottom:40px;color:#000; }
.instructions-txt div:last-child { width:300px;color:#ABAAA4;line-height:1.6;font-size:14px;}
.applicable-industry {height:474px;margin-top:30px; }
.applicable-industry div:first-child{width:200px;margin:auto;font-size:18px;color:#110F11;margin-bottom:50px;}
.applicable-industry .img{ width:800px;margin:auto;position:relative;}
.applicable-industry .img .education{position: absolute;bottom: 10px;left: 10px;color: #fff;}
.applicable-industry .img .garment{position: absolute;bottom: 10px;left: 410px;color: #fff;}
/*试用*/
.probation { height:400px;background-color:#E2E0DB;}
.probation img{width:25%;float:left;margin:auto 250px;padding-top:50px;}
.probation .probation-txt{padding-top:120px;}
.probation .probation-txt div{line-height:2.5;color:#555;font-size:14px;}
.probation .probation-txt a{border:1px solid #555;padding:10px 45px;border-radius:3px;color:#666;}

/*@media only screen and (max-width:1200px) {
    .customer div:first-child img { width:40%;}
    .customer-bevel {border-left: 600px solid #008DDD;}
    .repertory-bevel {border-right: 570px solid #F0EFEE; }
    .repertory-bevel-down { border-right: 570px solid #F0EFEE;}
    .agent-bevel { border-right: 600px solid #F0EFEE;}
    .party-footer .icon-party { margin-left:850px;}
}
@media only screen and (max-width:1024px) {
    .customer { height: 350px; }
    .customer div:first-child img { width: 30%; }
    .customer-bevel { border-left: 500px solid #008DDD; }
    .repertory { height:480px;}
    .repertory-bevel { border-right: 505px solid #F0EFEE; }
    .repertory-bevel-down { border-right: 505px solid #F0EFEE; }
    .repertory .repertory-details li { margin-top:20px;}
    .agent .agent-details li { margin-top:20px;}
    .agent-bevel { border-right: 500px solid #F0EFEE;}
    .party-footer .icon-party { margin-left:750px;}
}*/

