
/*全局样式*/
* { padding: 0; margin: 0; font-size:12px; color:#333; font-family:'Microsoft YaHei' !important; }/*033d91*/
body { background-color:#f2f4f8; }
li{ list-style-type:none;}
a { color: #4a98e7; text-decoration: none;}

input[type="text"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="text"]:focus { border:solid 1px #318ae4; }

input[type="password"] { border:solid 1px #ccc; border-radius:2px;height:25px; line-height:25px; padding:0 5px; }
input[type="password"]:focus { border:solid 1px #318ae4; }

textarea { min-height: 60px; border:solid 1px #ccc; border-radius:2px;text-indent:3px;resize:none;}
textarea:focus { border:solid 1px #666;}

select{ border:solid 1px #ccc; border-radius:2px; height:25px; line-height:25px; padding:0 5px;}
select option{ padding:2px; }

img{border:none;}
button,submit,input,select,textarea{outline:none;}
button,submit,input,select{vertical-align:middle;}
button,submit,input[type="button"],input[type="submit"]{cursor:pointer;-webkit-appearance:none;}
textarea{resize:none;outline:none;}
button::-moz-focus-inner,
submit::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner{padding:0;border:none;}

/*header样式*/
.site-header { height:50px;position:fixed;z-index:666;width:80%;margin-left:10%;top:0;left:0;}
.site-header .nav li {float:left;margin-right:20px;margin-top:15px; font-size:14px;cursor:pointer;}
.nav li img { height:30px;width:30px;margin-top:-5px;}
/*.site-header .nav li:hover{color:#666;border-bottom:2px solid #666;}*/
.site-header .nav li.hover{color:#666;border-bottom:2px solid #666;}
.site-header div a{margin-top:15px;padding:5px 15px;margin-right:20px;font-size:14px;cursor:pointer;}
.site-header div a:hover{border:1px solid #4a98e7;border-radius:2px;}


