@{
    ViewBag.Title = "云销科技 | 关于";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="/modules/css/about.css" rel="stylesheet" />
    <link href="/modules/plug/jquery-horizon-line-switch/css/style.css" rel="stylesheet" />
    <link href="/modules/plug/jquery-horizon-line-switch/css/reset.css" rel="stylesheet" />

    <script src="/modules/plug/jquery-horizon-line-switch/js/modernizr.js"></script>
    <script src="/modules/plug/jquery-horizon-line-switch/js/main.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gDx9WNPeuFj4EgNvullqmzhF"></script>    
</head>
<div class="head-information">
    <img style="width:100%;height:100%;" src="/modules/images/about/about_01.png" />
    <div class="information">
        <div class="font24 mTop200">云销科技，让营销行云流水</div>
        <div class="font14" style="color:#C6D1DD;width:320px;margin:auto;">致力于帮助更多中小型企业解决供应链管理难题，帮助您的企业和品牌，更高效的运作与管理</div>
    </div>
</div>
@* 关于云销 *@
<div class="cloud-pin">
    <h3 class="host-timeline">关于云销</h3>
    <div>上海云销信息科技有限公司，成立于2015年3月。云销科技是一家技术创新型企业，致力于服务营销软件行业，结合了上市公司的物流行业背景和金融行业背景，研发了“二当家”。云销科技自成立以来，一直以优质的客户体验为己任、建立营销行业新时代为目标，励志打造成为国内一流的营销行业软件平台系统。</div>
    <div>上海云销信息科技有限公司，成立于2015年3月。云销科技是一家技术创新型企业，致力于服务营销软件行业，结合了上市公司的物流行业背景和金融行业背景，研发了“二当家”。云销科技自成立以来，一直以优质的客户体验为己任、建立营销行业新时代为目标，励志打造成为国内一流的营销行业软件平台系统。</div>
    <div>公司产品“二当家”目前主要服务于各类生产制造类企业，并适用于直销行业领域，二当家支持平台租用和定制化两种方式，平台租用方式广泛适用与传统企业，定制化则需要根据不同客户特殊需求进行定制开发以满足业务需求，大数据的可视化给应用者带来全新的视觉体验，各类数据报表一目了然
    </div>
    <div>公司产品“二当家”目前主要服务于各类生产制造类企业，并适用于直销行业领域，二当家支持平台租用和定制化两种方式，平台租用方式广泛适用与传统企业，定制化则需要根据不同客户特殊需求进行定制开发以满足业务需求，大数据的可视化给应用者带来全新的视觉体验，各类数据报表一目了然
    </div>    
</div>
@* 发展历程 *@
<section class="cd-horizontal-timeline">
    <div class="host-timeline">发展历程</div>
<div class="timeline">
    <div class="events-wrapper">
	    <div class="events">
		    <ol>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="16/01/2014" class="selected">15年3月</a></li>
			<li><a href="#0" data-img="/modules/images/aa%20-%20副本%20(6).png" data-date="28/02/2014">15年12月</a></li>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="20/04/2014">16年1月</a></li>
			<li><a href="#0" data-img="/modules/images/aa%20-%20副本%20(6).png" data-date="20/05/2014">16年3月</a></li>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="09/07/2014">09 Jul</a></li>
			<li><a href="#0" data-img="/modules/images/aa%20-%20副本%20(6).png" data-date="30/08/2014">30 Aug</a></li>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="15/09/2014">15 Sep</a></li>
			<li><a href="#0" data-img="/modules/images/aa%20-%20副本%20(6).png" data-date="01/11/2014">01 Nov</a></li>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="10/12/2014">10 Dec</a></li>
			<li><a href="#0" data-img="/modules/images/aa%20-%20副本%20(6).png" data-date="19/01/2015">29 Jan</a></li>
			<li><a href="#0" data-img="/modules/images/about/about_02.png" data-date="03/03/2015">3 Mar</a></li>
		</ol>
		    <span class="filling-line" aria-hidden="true"></span>
		</div> <!-- .events -->
	</div> <!-- .events-wrapper -->
			
	<ul class="cd-timeline-navigation">
		<li><a href="#0" class="prev inactive">Prev</a></li>
		<li><a href="#0" class="next">Next</a></li>
	</ul> <!-- .cd-timeline-navigation -->
</div> <!-- .timeline -->

	<div class="events-content">
		<ol>
			<li class="selected" data-date="16/01/2014">
				<h2>公司成立</h2>
				<em>2015.03.15</em>
				<p>	
					成立初衷致力打造国内先进的企业供应链平台，提供CRM、进销存和分销管理一站式服务。基于这个理念，经过核心团队历时一年的研发，诞生了一款名为“二当家”的SaaS类平台产品
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>

			<li data-date="28/02/2014">
				<h2>Event title here</h2>
				<em>February 28th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/aa%20-%20副本%20(6).png" />*@
			</li>

			<li data-date="20/04/2014">
				<h2>Event title here</h2>
				<em>March 20th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>

			<li data-date="20/05/2014">
				<h2>Event title here</h2>
				<em>May 20th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/aa%20-%20副本%20(6).png" />*@
			</li>

			<li data-date="09/07/2014">
				<h2>Event title here</h2>
				<em>July 9th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>

			<li data-date="30/08/2014">
				<h2>Event title here</h2>
				<em>August 30th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/aa%20-%20副本%20(6).png" />*@
			</li>

			<li data-date="15/09/2014">
				<h2>Event title here</h2>
				<em>September 15th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>

			<li data-date="01/11/2014">
				<h2>Event title here</h2>
				<em>November 1st, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/aa%20-%20副本%20(6).png" />*@
			</li>

			<li data-date="10/12/2014">
				<h2>Event title here</h2>
				<em>December 10th, 2014</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>

			<li data-date="19/01/2015">
				<h2>Event title here</h2>
				<em>January 19th, 2015</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/aa%20-%20副本%20(6).png" />*@
			</li>

			<li data-date="03/03/2015">
				<h2>Event title here</h2>
				<em>March 3rd, 2015</em>
				<p>	
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
				</p>
                @*<img src="/modules/images/about/about_02.png"/>*@
			</li>
		</ol>
	</div> <!-- .events-content -->
</section>
<div class="time-img">
    <img style="width:100%" src="/modules/images/about/about_02.png"/>
</div>

@* 加入我们-合作伙伴 *@
<div class="join-teamwork">
    <div class="join">
        <div class="title-join-teamwork">加入我们</div>
        <div class="center mTop50 mBottom50">
            <img src="/modules/images/about/about-ico2.png" />
        </div>
        <div class="txt-join-teamwork">我们不断思索,尝试.通过改变传统软件模式,帮助商家降低运营成本并创造更多销售及业务拓展机会.</div>
        <div class="txt-join-teamwork mTop20">经历一家注定要走远路的公司难能可贵的初创期,我们一起,为这个世界做点什么.</div>
    </div>
    <div class="teamwork">
        <div class="title-join-teamwork">合作伙伴</div>
        <div class="center mTop50 mBottom50">
            <img src="/modules/images/about/about-ico1.png" />
        </div>
        <div class="txt-join-teamwork">我们不断思索,尝试.通过改变传统软件模式,帮助商家降低运营成本并创造更多销售及业务拓展机会.</div>
        <div class="txt-join-teamwork mTop20">经历一家注定要走远路的公司难能可贵的初创期,我们一起,为这个世界做点什么.</div>
    </div>
    <div class="clear"></div>
</div>

@* 地址 *@
<div class="contant-us">
    <h3 class="host-timeline">联系我们</h3>
    <div class="information">
        <div>合作：18221077623</div>
        <div>邮箱：customer@yunxiaokeji.com</div>
        <div>地址：上海市长宁区中山西路 1279弄6号国峰科技大厦 6楼</div>
        <div>邮编：200050</div>
    </div>
    <div>
        <img />
    </div>
</div>
<div class="map" id="map"></div>

<script type="text/javascript">
        //创建和初始化地图函数：
        function initMap() {
            createMap();//创建地图
            //setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMapOverlay();//向地图添加覆盖物
        }
        function createMap() {
            map = new BMap.Map("map");
            map.centerAndZoom(new BMap.Point(121.426032, 31.197214), 18);
        }
        //function setMapEvent() {
        //    map.enableScrollWheelZoom();
        //    map.enableKeyboard();
        //    map.enableDragging();
        //    map.enableDoubleClickZoom()
        //}
        function addClickHandler(target, window) {
            target.addEventListener("click", function () {
                target.openInfoWindow(window);
            });
        }
        function addMapOverlay() {
            var markers = [
              { content: "我的备注", title: "上海云销信息科技有限公司", imageOffset: { width: 0, height: 3 }, position: { lat: 31.198422, lng: 121.42751 } }
            ];
            for (var index = 0; index < markers.length; index++) {
                var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
                var marker = new BMap.Marker(point, {
                    icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png", new BMap.Size(20, 25), {
                        imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
                    })
                });
                var label = new BMap.Label(markers[index].title, { offset: new BMap.Size(25, 5) });
                var opts = {
                    width: 200,
                    title: markers[index].title,
                    enableMessage: false
                };
                var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
                marker.setLabel(label);
                addClickHandler(marker, infoWindow);
                map.addOverlay(marker);
            };
        }
        //向地图添加控件
        function addMapControl() {
            var scaleControl = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
            map.addControl(scaleControl);
            var navControl = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
            map.addControl(navControl);
            var overviewControl = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: true });
            map.addControl(overviewControl);
        }
        var map;
        initMap();
</script>
