@{
    ViewBag.Title = "案例";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="/modules/css/case/case.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/case/case"], function (ObjectJS) {
            ObjectJS.init();
        });
    </script>
}
<div style="background-color:#F3F2F0;height:150px;">
    <div class="center mTop50 case-industry">行业案例</div>
    <div class="line-case"></div>
    <ul class="industry">
        <li data-industry="clothing" class="hover">服装</li>
        <li data-industry="education">教育</li>
        <li data-industry="consumer">快消</li>
        <li data-industry="internet">互联网</li>
    </ul>
</div>

<div>
    <div id="clothing" class="example">
       <div class="center example-img">
           <img data-id="layer" src="/modules/images/case/anlile-1.png" />
           <img data-id="layer-two" src="/modules/images/case/anlile-2.png" />
           <div class="layer">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
           <div class="layer-two">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
       </div> 
       <div class="case-industry center mTop30 mBottom30">
           实例介绍
       </div>
       <div style="margin-left:150px;margin-top:30px;">
           <span class="font14">解决问题：解决了服装厂的制作过程中采购材料,出库发货耗时长.数据整理复杂等问题</span>
       </div>
       <div class="center mTop20">
           <img class="mRight50" src="/modules/images/case/anlile-3.png" />
           <img src="/modules/images/case/anlile-4.png" />
       </div>
       <div>
           <span style="margin-left:370px;margin-right:550px;">使用前</span>
           <span style="color:#42A4E1;">使用后</span>
       </div>
       <div class="mTop50">
           <div class="left details-example mRight30">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班</div>
           </div>
           <img src="/modules/images/case/anlile-5.png"/>
       </div>
       <div class="mTop50" style="height:340px;">
           <img class="left mLeft150 mRight30" src="/modules/images/case/anlile-6.png"/>
           <div class="mRight150" style="line-height:1.8;">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>   
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班效率底下的沟通就造成啦无休止的加班</div>            
           </div>           
       </div>
       <div class="mLeft150 mTop30 fontcolor" style="width:1050px;line-height:1.8">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。
       </div>
       <div class="center mTop50 mBottom50">
           <img src="/modules/images/case/anlile-7.png" />
       </div>
    </div>
    <div id="education" class="hide example">
       <div class="center example-img">
           <img data-id="layer" src="/modules/images/case/anlile-1.png" />
           <img data-id="layer-two" src="/modules/images/case/anlile-2.png" />
           <div class="layer">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
            <div class="layer-two">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
       </div> 
       <div class="case-industry center mTop30 mBottom30">
           实例介绍
       </div>
       <div style="margin-left:150px;margin-top:30px;">
           <span class="font14">解决问题：解决了服装厂的制作过程中采购材料,出库发货耗时长.数据整理复杂等问题</span>
       </div>
       <div class="center mTop20">
           <img class="mRight50" src="/modules/images/case/anlile-3.png" />
           <img src="/modules/images/case/anlile-4.png" />
       </div>
       <div>
           <span style="margin-left:370px;margin-right:550px;">使用前</span>
           <span style="color:#42A4E1;">使用后</span>
       </div>
       <div class="mTop50">
           <div class="left details-example mRight30">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班</div>
           </div>
           <img src="/modules/images/case/anlile-5.png"/>
       </div>
       <div class="mTop50" style="height:340px;">
           <img class="left mLeft150 mRight30" src="/modules/images/case/anlile-6.png"/>
           <div class="mRight150" style="line-height:1.8;">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>   
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班效率底下的沟通就造成啦无休止的加班</div>            
           </div>           
       </div>
       <div class="mLeft150 mTop30 fontcolor" style="width:1050px;line-height:1.8">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。
       </div>
       <div class="center mTop50 mBottom50">
           <img src="/modules/images/case/anlile-7.png" />
       </div>
    </div>
    <div id="consumer" class="hide example">
       <div class="center example-img">
           <img data-id="layer" src="/modules/images/case/anlile-1.png" />
           <img data-id="layer-two" src="/modules/images/case/anlile-2.png" />
           <div class="layer">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
            <div class="layer-two">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
       </div> 
       <div class="case-industry center mTop30 mBottom30">
           实例介绍
       </div>
       <div style="margin-left:150px;margin-top:30px;">
           <span class="font14">解决问题：解决了服装厂的制作过程中采购材料,出库发货耗时长.数据整理复杂等问题</span>
       </div>
       <div class="center mTop20">
           <img class="mRight50" src="/modules/images/case/anlile-3.png" />
           <img src="/modules/images/case/anlile-4.png" />
       </div>
       <div>
           <span style="margin-left:370px;margin-right:550px;">使用前</span>
           <span style="color:#42A4E1;">使用后</span>
       </div>
       <div class="mTop50">
           <div class="left details-example mRight30">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班</div>
           </div>
           <img src="/modules/images/case/anlile-5.png"/>
       </div>
       <div class="mTop50" style="height:340px;">
           <img class="left mLeft150 mRight30" src="/modules/images/case/anlile-6.png"/>
           <div class="mRight150" style="line-height:1.8;">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>   
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班效率底下的沟通就造成啦无休止的加班</div>            
           </div>           
       </div>
       <div class="mLeft150 mTop30 fontcolor" style="width:1050px;line-height:1.8">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。
       </div>
       <div class="center mTop50 mBottom50">
           <img src="/modules/images/case/anlile-7.png" />
       </div>
    </div>
    <div id="internet" class="hide example">
       <div class="center example-img">
           <img data-id="layer" src="/modules/images/case/anlile-1.png" />
           <img data-id="layer-two" src="/modules/images/case/anlile-2.png" />
           <div class="layer">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
            <div class="layer-two">
               <div class="tLeft mTop150 mBottom20">慕白服饰</div>
               <div class="tLeft">服装加工厂使用二当家来管理客户,订单,库存,采购等内容</div>
           </div>
       </div> 
       <div class="case-industry center mTop30 mBottom30">
           实例介绍
       </div>
       <div style="margin-left:150px;margin-top:30px;">
           <span class="font14">解决问题：解决了服装厂的制作过程中采购材料,出库发货耗时长.数据整理复杂等问题</span>
       </div>
       <div class="center mTop20">
           <img class="mRight50" src="/modules/images/case/anlile-3.png" />
           <img src="/modules/images/case/anlile-4.png" />
       </div>
       <div>
           <span style="margin-left:370px;margin-right:550px;">使用前</span>
           <span style="color:#42A4E1;">使用后</span>
       </div>
       <div class="mTop50">
           <div class="left details-example mRight30">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班</div>
           </div>
           <img src="/modules/images/case/anlile-5.png"/>
       </div>
       <div class="mTop50" style="height:340px;">
           <img class="left mLeft150 mRight30" src="/modules/images/case/anlile-6.png"/>
           <div class="mRight150" style="line-height:1.8;">
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。</div>
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针织面料表现为拉伸性或弹性（拉伸性好的面料尺寸稳定性相对较差，防治产品拉伸变形，根据要求选用线迹，如一拉伸的领口、袖口、挂肩、裤口、裤裆等部位要选用与缝料拉伸相适应的结构及弹性锋线，领子门襟口袋等弹性较小，采用衬布、沙带等方法加固，防止拉伸变形）脱散性（一般单面纬平针组织脱散性较大，提花织物、双面组织、经编织物脱散性较小或不脱散）卷边性（一般发生在单面针织物上）透气性和吸湿性、抗剪性、滑移性、纬斜性（捻度、多路加剧造成）、钩丝与起毛起球、工艺[1]  回缩性。</div>   
               <div class="fontcolor">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;对于广告公司而言，因其公司的特殊性，公司内外部沟通有一些特殊性，效率底下的沟通就造成啦无休止的加班效率底下的沟通就造成啦无休止的加班</div>            
           </div>           
       </div>
       <div class="mLeft150 mTop30 fontcolor" style="width:1050px;line-height:1.8">
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;从服装加工从面料来分为：梭织面料加工和针织面料加工。其中梭织是织机以投梭的形式，将纱线通过经、纬向的交错而组成，其组织一般有平纹、斜纹和缎纹三大类以及它们的变化组织（近代也由于无梭织机的应用，此类面料的织造不用投梭形式，但面料仍归梭织类）。从组成成份来分类包括棉织物、丝织物、毛织物、麻织物、化纤织物及它们的混纺和交织织物等等，梭织面料在服装中的使用无论在品种上还是在生产数量上都处于领先地位。梭织服装因其款式、工艺、风格等因素的差异在加工流程及工艺手段上有很大的区别。
       </div>
       <div class="center mTop50 mBottom50">
           <img src="/modules/images/case/anlile-7.png" />
       </div>
    </div>
</div>



